
.SideMenu {
  position: fixed;
  background-color: rgba(128, 128, 128, 0.5);
  right: 1%;
  bottom: 1%;
  opacity: 10;
  height: 80vh;
  width: 37vw;
  border-radius: 5%;
  overflow-y: scroll;
  border: 1px solid white ;
  padding: 2%;
}

.buttonContainer {
  position: absolute;
  right: 20px;
  top : 20px;
  height: 100%;
}

.closeButton {
  position: sticky;
  top: 0;
  background: red;
  opacity: 0.5;
  color: white;
  z-index: 100;
}

.closeButton:hover {
  opacity: 1;
}