
.timelineComp {
  display: flex;
  top: 0;
  left: 0;
  width: 100vw;
  height: 15vh;
  background-color: rgba(125, 125, 125, 0.3);
}

.cyberpeaceLogo {
  height: 100%;
  width: auto;
  min-width: 350px;
  flex-shrink: 0;
  object-fit: contain;
}


.timelineScroll {
  display: flex;
  gap: 20px;
  width: auto;
  overflow-x: scroll;
  align-items: center;
  float: right;
}

.Scroller {
  display: flex;
  height: 90%;
  min-width: 200px;
  width: 14%;
  background: rgb(30, 41, 59);
  overflow-y: scroll;
}

.Scroller:hover {
  scale: 1.05;
}