.world-map-container {
    position: absolute;
    width: max-content;
    height: 85vh;
    background: rgb(30, 41, 59);
    overflow: scroll;
}

.world-map-svg {
    width: 100vw;
    height: 85vh;
    bottom: 0;
}

.country-path {
    stroke: rgb(156, 156, 156);
    stroke-width: 0.7;
    transition: fill 0.2s;
    cursor: pointer;
    z-index: 1;
}

.country-path:hover {
    stroke-width: 1.3;
    stroke: 1;
    filter: brightness(1.3)
}

.country-tooltip {
    position: fixed;
    z-index: 1000;
    padding: 5px 20px;
    background: #111318;
    border: 2px solid #14B8A5;
    border-radius: 0.5rem;
    backdrop-filter: blur(10px);
    transform: translate(12px, -50%);
    opacity: 0;
    transition: opacity 0.15s ease;
}

.country-tooltip.visible {
    opacity: 1;
}

.country-tooltip-name {
    font-size: 20px;
    font-weight: 300;
    color: #F8FAFC;
    margin-bottom: 1px;
}

.country-tooltip-code {
    font-size: 20px;
    font-weight: 300;
    color: #14B8A5;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.allCountryButt {
  position: absolute;
  left: 10px;
  top : 16%;
  height: 3%;
  background: white;
  z-index: 100;
}

.allCountryButt:hover {
    scale: 1.05;
    border: 2px solid rgb(125, 125, 125);
}